header{
    background-color: rgb(41, 93, 170);
}
nav{
    background-color: rgb(64, 115, 209);
}
section{
    max-width: 40%;
    float: left;
    background-color: silver;
}
footer{
    background-color: rgb(61, 64, 236);
}

aside{
    max-width: 60%;
    float: left;
    background-color: cadetblue;
}

.contenedor::after{
    content: "";
    display: block;
    clear: both;

}